* {box-sizing: border-box;}

img {vertical-align: middle; border-radius: 20px;}

.topImg-container {
    max-width: 70%;
    position: relative;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 50px;
}

.topImg-container img {
    border-radius: 10px;
    vertical-align: middle;
    width: 100%;
}

aside {
    float: left;
    width: 20%;
    padding-left: 15px;
    margin-left: 15px;

}
.profile-section {
    position: flex;
    display: block;
    border-right: grey 1px solid;
    padding-right: 10px;
    font-weight: bold;
    
}

.profile-section h3 {
    width: 100%;
    background-color: #3FB782;
    border-radius: 5px;
    padding: 10px;
}

.profile-section img {
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.profile-section a, li {
    text-decoration: none;
    color: black;
    margin-bottom: 5px;
}

.profile-section a:hover{
    background-color: gray;
    color: white;
    padding: 5PX;
    border-radius: 5PX;
}

.history-section {
    margin-top: 1.8%;
    margin-left: 22%;
    margin-right: 20px;
    position: flex;
    display: block;
}

.history-section h3 {
    width: 100%;
    background-color: #3FB782;
    border-radius: 5px;
    padding: 10px;
}

.section-ftr-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
  margin-bottom: 3%;
  gap: 2rem;
}

.section-ftr-container h3 {
    margin-right: 5%;
}

.d-buttons {
  padding: 20px 10%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  margin-bottom: 10%;
}

.d-buttons button {
    background-image: linear-gradient(to right, #3FB782,  #81C550);
    padding: 20px;
    font-weight:bolder;
    border-radius: 10px;
    border: none;cursor: pointer;font-size: large;
    max-width: 100%;
    max-height: 50%;
}

button:hover {
    filter: brightness(120%);
}

/* online-services css*/
body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* style the container */
  .container {
    position: relative;
    border-radius: 5px;
    width: 50%;
    height: 50%;
    margin: 0 auto;
    background-color: #D9D9D9;
    padding: 20px 0 30px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 5%;
  } 
  
  /* style inputs and link buttons */
  input,
  .btn {
    max-width: 100%;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none; /* remove underline from anchors */
  }
  
  input:hover,
  .btn:hover {
    opacity: 1;
  }
  
  /* style the submit button */
  input[type=submit] {
    background-color: #178647;
    color: white;
    cursor: pointer;
    font-weight: bold;
  }
  
  input[type=submit]:hover {
    background-color: #178647;
  }

  .col a {
    background:#178647 ;
    color: #FFFFFF;
    font-weight:bold;
    font-size: 14px;
    text-align: center;
  }

  .btm-a {
    margin-top: 50px;
  }

  .btm-a a {
    color:black;
    display: flex;
    text-decoration: none;
    background: none;
    margin-bottom: 10px;
    font-weight: normal;
  }

  .btm-a a:hover {
    color:blue;
  }
  
  /* Two-column layout */
  .col {
    margin-top: 20%;
    float: left;
    width: 50%;
    margin: auto;
    padding: 0 50px;
    margin-top: 6px;
  }
  
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* vertical line */
  .vl {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border: 1px solid black;
    height: 90%;
  }
  
  /* hide some text on medium and large screens */
  .hide-md-lg {
    display: none;
  }
  
  /* bottom container */
  .bottom-container {
    text-align: center;
    background-color: #666;
    border-radius: 0px 0px 4px 4px;
  }
  
  /* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 650px) {
    .col {
      width: 100%;
      margin-top: 0;
    }
    /* hide the vertical line */
    .vl {
      display: none;
    }
    /* show the hidden text on small screens */
    .hide-md-lg {
      display: block;
      text-align: center;
    }
  }